body{
  margin: 0px;
  background-color: #000;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0px;
}

h1{
  color: #fff;
  position: absolute;
  left: 50%;
  top:0%;
  transform: translateX(-50%);
}
